<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>
    <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/var/log/calc.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <param name="Encoding" value="utf-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{ABSOLUTE}] %t %5p %c{2}:%L %M %m%n"/>
        </layout>
    </appender>

    <root>
        <priority value="all"/>
        <appender-ref ref="FILE"/>
    </root>

</log4j:configuration>